<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="header">
      <div class="navbar">
        <a class="logo">Burger Boss <i class='fab fa-free-code-camp'></i></a>
        <div class="navbar-right">
          <a >Home <i class='fas fa-home'></i> </a>
          <a  (click)="orders()"> Orders <i class="fas fa-coffee"></i></a>
          <a  (click)="cart()">  My Cart <i class='fas fa-cart-arrow-down'></i> </a>
          <a  (click)="about()"> About <i class='fas fa-blog'></i></a>
          <a  (click)="contact()"> Contact  <i class="fas fa-phone-square"></i> </a>
          <a  (click)="logAlert()"> log out <i class="fas fa-power-off"></i></a>
        </div>
      </div>
       <!-- <app-navbar></app-navbar>  -->
      <!-- <app-navb> </app-navb> -->
      <p> ----------  NEW IN MENU   ---------</p>
        <h1>Double<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mushroom<br>Burger</h1>
        <img src="assets/images/hom1.jpg">
        <section class="header1">
            <p>
                <i class='fas fa-check-square'> </i>&nbsp;Cheese&nbsp;   
                <i class='fas fa-check-square'> </i>&nbsp;Mushroom&nbsp; 
                <i class='fas fa-check-square'> </i>&nbsp;Baccon
            </p>
            <div class="price">
                <p>only<br>  ₹ 244</p>   
            </div>
        </section>
    </section>

<!--Home page ends-->

<section class=features>                         
        <h1>Hot Selling <i class='fas fa-balance-scale-right' style='font-size:36px'></i></h1> 
        
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/images/card6.jpg" alt="Avatar" style="width:280px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Chicken Burger</h1>
                <p>Consist of Chicken, breadcrumbs, mayonnaise, onions, parsley, garlic, paprika, salt and pepper.</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div>
        
          <div class="flip-card1">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/images/card1.jpg" alt="Avatar" style="width:280px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Mushroom Burgers</h1>
                <p>Portabella mushrooms, broccoli, black beans, 
                    and seasoning make this a burger even meat lovers can't resist!</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div> 

          <div class="flip-card2">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/images/card4.jpg" alt="Avatar" style="width:280px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Cheese Burgers</h1>
                <p>life is too short to miss out on double cheeseburgers</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-o"></i>
                </div>
              </div>
            </div>
          </div> 

          <div class="flip-card3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/assets/images/card7.jpg" alt="Avatar" style="width:280px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Potato Corn Burger</h1>
                <p>the only bad burger is the one you didn't eat.,so Try our  PCB</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div> 
          <!-- <p>hover me</p> -->

</section>
<!---ingrediants-->
<section class=ingrediants>
    <div id="mySidenav" class="sidenav">
        <a (click)="pg()"  id="twitter"> <i class="fab fa-twitter" style='font-size:28px;color:rgb(47, 13, 238)'></i></a>
        <a routerLink="" id="youtube"><i class="fab fa-youtube" style='font-size:28px;color:red'></i></a>
        <a routerLink="" id="whatsapp"><i class="fab fa-whatsapp" style='font-size:28px;color:rgb(8, 226, 55)'></i></a>
        <a routerLink="" id="Email"><i class="fas fa-mail-bulk" style='font-size:28px;color:rgb(15, 0, 8)'></i></a>
    </div>
    <img src="/assets/images/ingrediants.jpg">
</section>
    
<!--Banner  starts-->
<section class="banner">  <!--bg--> 
    <div class="banner-highlights"> <!--black board-->
        <div class="containerbb"> <!--black board inside content-->
            <div class="row">
                <div class="col-md-8">
                 
                  <h2>Agent Tina <i class='fas fa-female'></i>  Inniku Varaliya?</h2>
                  <h5>unga cook-u innaiku leave-a <i class='far fa-grin-beam-sweat' ></i>
                  Aana engaluku leave-a kediyadhu <i class='fas fa-feather-alt'></i>
                  <br><i class='far fa-hand-point-right'></i> Click pannunga-Order pannunga  <i class='far fa-hand-point-left'></i></h5> 

                    <!-- <h2>Get 50% offer Only on  Today's Special</h2>
                    <h5>Add to Cart Soon  and avail 50% flat discount.</h5>  -->

                </div>
                <div class="col-md-4">
                    <div class="wrapper">
                        <button class="a1" (click)="temp()">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Shop Now <i class="fa fa-shopping-bag"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </div>
    </div> <br><br><br><br> <!--to make the highlight proper visible-->
</section>
<!--Banner  ends-->


<!-- user reviewz -->
<section class="users-feedback">
  <h1>Hear it from our customers</h1> <i class=""></i>
  <br>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
               <div class="user-review">
                  <p>Awesome website, the User interface is totally wonderful. quick & useful website,if you are going to buy the great Burgers of the world.</p> 
                  <h5>Mr.John </h5>  
                  <small>Coimbatore</small>
               </div>
               <img src="assets/images/user.jpg">
          </div>
          <div class="col-md-4">
              <div class="user-review">
                  <p>There are many website  where you go once and you don't get what u need.But the Offers offered by them and the Quality of Burgers makes me to go again.Nice UI and its User-frndly.</p> 
                  <h5>Mr.Kamal </h5>  
                  <small>Chennai</small>
               </div>
               <img src="assets/images/kamal.jpg">
          </div>
          <div class="col-md-4">
              <div class="user-review">
                  <p>This time we ate The gaint cheeseburgers which I bought on offer. The service is impeccable, their Foods are fabulous,delicious.</p> 
                  <h5>Mrs.Shriya</h5>  
                  <small>Delhi</small>
               </div>
               <img src="assets/images/shriya.jpg">
          </div>
      </div>
  </div>
</section>
<!-- user reviewz ends-->

<!---footer-->
<section class="footer">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Burger Boss <i class='fab fa-free-code-camp'></i></h2>
            <p>In a short span of Time, we have been successful in breaking even. 
                We deliver to more than 12,000 customers within 30-days cycle. 
                We started our Burger-Barns in December 2020 and currently have over 60-Units and still Expanding</p>
        </div>
        <div class="col-md-3">
            <h4>Features</h4>
            <p><i class="fab fa-ideal"></i> Deals and Offers</p>
            <p><i class="fas fa-car-side"></i> Tracking Facilities</p>	
            <p><i class="far fa-file-excel"></i> Cancelation Policy</p>
            <p><i class="fas fa-fist-raised"></i> Customer Review</p>
        </div>
        <div class="col-md-3">
            <h4>Quick Contact</h4>
            <p><i class="fas fa-phone-square"></i> +91 9876543210</p>
            <p><i class="fas fa-envelope"></i> Deva@gmail</p>
            <p><i class="fas fa-home"></i> Chennai,Tamil Nadu</p>
        </div>
        <div class="col-md-3">
            <h4>Follow us on</h4>
            <p><i class="fab fa-facebook"></i> Facebook</p>
            <p><i class="fab fa-youtube"></i> Youtube</p>
            <p><i class="fab fa-twitter"></i> Twitter</p>
        </div>
        </div><hr>
          <p class="copyright">Made with <i class="fa fa-heart"></i> by Deva</p>
    </div>
    <ngx-scrolltop></ngx-scrolltop>
    </section>
</body>
</html>