<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!--About Us page starts-->
<section style="background: papayawhip; height: auto; width: auto;">    
<div class="about-section">
     <h1>About Us</h1>
    <p>Hello Customers, This is <span style="color: rgb(255, 0, 0); font-family: cursive;">Burger Boss <i class='fab fa-free-code-camp'></i></span> Founders from chennai. As a new developer,
        <br> one of the hardest tasks is to create a successful web developer page that gets the attention of Users,
        <br>we hope we did our part well.<i class="	far fa-smile-wink"></i>
        <br> 
    </p>
    <i class='fas fa-bed'> </i> sleep
    <i class='fas fa-mobile-alt'> </i> order
    <i class='fas fa-cloud-meatball'> </i> eat 
    <i class='fa fa-heart'> </i> like 
    <i class='fa fa-refresh'> </i> repeat
  </div>
 <br>
  <h2 style="text-align:center">Our Team <i class="fas fa-heart"></i>  </h2>
  <div class="row">
    <div class="column">       <!--Developer 1-->
      <div class="card">
        <img src="assets/images/abt.jpg" style="width:50%; margin-left: 100px; " >
        <div class="container">
          <h2>Deva</h2>
          <p class="title">Developer</p>
          <p>A passionate Full-stack web developer .</p>
          <p>adr695@gmail.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  
    <div class="column"><!--Developer 2-->
      <div class="card">
        <img src="assets/images/abt.jpg" style="width:50%; margin-left: 100px; " >
        <div class="container">
          <h2>Deva Rohinth</h2>
          <p class="title">Developer</p>
          <p>Ardent-Developer working on Abc,chennai.</p>
          <p>rohinth@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column"><!--Tester 1-->
      <div class="card">
        <img src="assets/images/abt.jpg" style="width:50%; margin-left: 100px; " >
        <div class="container">
          <h2>Rohinth</h2>
          <p class="title">Tester</p>
          <p>Determined Tester working on XYZ PVT limited.</p>
          <p>roh2566@gmail.com</p>
        </div>
      </div>
    </div>
  </div> 
</section>
<button class="btnb" (click)="back()" >back</button>  <!--back to home button-->
</body>
</html>