<div class="navbar">
    <a class="logo">Burger Boss <i class='fab fa-free-code-camp'></i></a>
    <div class="navbar-right">
      <a  (click)="home()" >Home <i class='fas fa-home'></i> </a>
      <!-- <a  (click)="about()" > About <i class='fas fa-blog'></i></a> -->
      <a  (click)="orders()"> Orders <i class="fas fa-coffee"></i></a>
      <a  (click)="cart()   ">  My Cart <i class='fas fa-cart-arrow-down'></i> </a>
      <!-- <a  (click)="contact()"> Contact  <i class="fas fa-phone-square"></i> </a> -->
      <a  (click)="executeLogOut()"> log out <i class="fas fa-power-off"></i></a> 
    </div>
</div>